---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About our project">
    <h1 class="font-extrabold text-6xl text-white">About the project</h1>
    <p>Lorem isump dolor iminet le dolore le infimitu du turamiun foletose</p>
</Layout>
