<a class="hover:brightness-110 active:brightness-90 border-zinc-700 bg-zinc-600 px-2 py-2 border-b-[4px] hover:border-b-[6px] active:border-b-[2px] rounded-lg text-white transition-all hover:-translate-y-[1px] active:translate-y-[2px] cursor-pointer">
    <slot />
</a>